* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(./fonts/helveticaneue.woff2);
}

html,
body {
  font-family: "Helvetica Neue", Helvetica;
  background: #e7e4e5;
  overflow: hidden;
}

#costForm {
  background-color: #fff;
}
